*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main */

.back-color{
    background-color: black;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.schermata-utente{
    width: 13%;
    height: 18%;
    position: relative;
    margin: 2px;
    margin: 0 auto;
}
.immagine{
    width: 100%;
    height: 100%;
    
    
}
.nome-utente{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white; 
    width: 78px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);
}

/* footer */
.barra-sotto{
    background-color: rgb(29, 27, 27);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.parte-destra{
    display: flex;
    flex-direction: row;
    font-size: 13px;

}
.fuori-icona{
    display: flex;
    flex-direction: column;
    gap: 0 20px;
}
.microfono {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.icona-freccia{
    display: flex;
    align-items: center;
    
}
.icona{
    font-size: 25px;
    text-align: center;
}
.video{
    display: flex;
    flex-direction: row;
    padding: 10px;
}


/* cenrtro */
.parte-centro{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: center;
}






/* destra */
.parte-sinistra{
    width: 100px;
    max-height: 63px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 13px;
    text-align: center;
    line-height: 63px;
    color: red;
}
