*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-black{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: flex-end;
   
}
.barra-bottom{
    height: 60px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    
}
.foto-account{
    width: 13%;
    height: 16vh;
    border: 1px solid white;
}